.git
.gitignore
**/.venv
**/venv
**/__pycache__
**/*.pyc
**/node_modules
**/dist
**/.env
**/db.sqlite3
**/db.sqlite3-journal
docs
backend/fastapi_api
backend/flask_api
frontend/react_app/src/app
*.md
!README.md
